@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,200&display=swap");

:root {
  --palet1: #00072d;
  --palet2: #001c55;
  --palet3: #0a2472;
  --palet4: #0e6ba8;
  --palet5: #a6e1fa;
  --palet6: #686868;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(3, 3, 3);
  background: linear-gradient(
    180deg,
    rgba(36, 36, 36, 0.956) 0%,
    rgba(0, 0, 0, 0.4290091036414566) 67%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 80px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 90px;
}
/* los 3 elementos de abajo hacen la transcion del navbar */
.nav-links a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}
.nav-links a::after {
  content: "";
  background-color: aqua;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}
.nav-links a.selected::after,
.nav-links a:hover::after {
  opacity: 1;
}
.nav-links a:hover {
  color: wheat;
}
.lista {
  display: flex;
}
/* para ocultar la hamburguesa */
.lista i {
  font-size: 36px;
  color: aqua;
  display: none;
}
/* para ocultar la checklist */
#toggle-menu {
  display: none;
}
@media (max-width: 576px) {
  .lista ul {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .lista i {
    display: block;
  }
  #toggle-menu:checked ~ .nav-links {
    display: flex;
  }
}

/* maain */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  gap: 20px;
  margin-bottom: 8%;
}
.hero {
  height: 400px;
  padding: 40px;
  margin-top: 200px;

  /* degrade en div con bordes difuminados */
  background: rgb(19, 21, 21);
  background: radial-gradient(
    circle,
    rgba(19, 21, 21, 0.9500175070028011) 6%,
    rgba(19, 19, 19, 0.896796218487395) 33%,
    rgba(16, 17, 17, 0.7875525210084033) 55%,
    rgba(13, 14, 14, 0.4374124649859944) 84%,
    rgba(0, 0, 0, 0) 100%
  );
}
.encuadro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  height: 100vh;
}
.hero-info {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.video {
  width: 40%;
}
.hero-info h1 {
  font-size: 48px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
}
.hero-info p {
  font-size: 25px;
  width: 100%;
  padding-bottom: 20px;
}
.botones {
  display: flex;
  gap: 50px;
}

.hero-info a {
  background-color: rgba(0, 156, 247, 0.933);
  color: white;
  font-weight: 400;
  width: 130px;
  padding: 6px 20px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
}

.about {
  font-family: kanit;
  font-style: italic;
  background-color: rgba(3, 3, 3, 0.793);
  border-radius: 30px;
  max-width: 1400px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  padding: 20px;
}
.about h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
}
.beneficios {
  display: flex;
  justify-content: center;
}
.cards-container {
  width: 80%;
  display: flex;
  gap: 100px;
  margin-top: 30px;
}
.cards {
  color: white;
  text-align: center;
  width: 450px;
  background-color: #171515c7;
  padding: 30px;
  border-radius: 33px;
  box-shadow: 0px 0px 50px rgba(211, 210, 210, 0.21);
}
.cards h3 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.cards p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 30px 15px 0px 15px;
  font-size: 1.3rem;
}
.cards i {
  font-size: 50px;
  padding-bottom: 30px;
}
.photo {
  border-radius: 15px;
  margin-top: 20px;
  width: 100%;
}
/* contactos */
.cards i {
  font-size: 50px;
  padding-bottom: 30px;
}
/* contactos */
.carta {
  padding: 150px 150px 100px 150px;
  font-size: 200px;
  background: rgb(236, 236, 236);
  background: radial-gradient(
    circle,
    rgba(236, 236, 236, 0.9500175070028011) 0%,
    rgba(255, 255, 255, 0) 46%
  );
}
.contacto {
  padding-top: 20px;
  padding: 40px;
  width: 100%;

  background: #000224d9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
.content-contact,
.subtitulo {
  color: rgb(229, 229, 229);
  font-family: Arial, Helvetica, sans-serif;
}
.subtitulo {
  font-size: 2rem;
}
.content-contact {
  display: flex;
  justify-content: center;
}
/* cuadrado del contacto diseño */
.info {
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.4290091036414566);
}
/* div que use para el diseño de una linea */
.divisor {
  margin: 20px;
  width: 1px;
  height: 550px;
  background-color: rgb(242, 242, 242);
}
.info-adve {
  text-align: right;
}

.controles {
  color: aliceblue;
  width: 100%;
  background: #404654e1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid rgb(10, 2, 82);
}
.enviar {
  width: 100%;
  background-color: aqua;
  border: none;
  padding: 8px;
  font-size: 16px;
  margin: 16px 0px;
  border-radius: 6px;
}
.info h3 {
  margin-bottom: 20px;
}
.redes-ubi {
  color: aliceblue;
  display: flex;
  width: 1400px;
  justify-content: space-between;
  padding: 20px 100px;
}
.eslogan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-right: 30px;
  width: 300px;
}
.redessociales {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-right: 30px;
  width: 300px;
}
.redessociales a {
  text-decoration: none;
  color: white;
}
.redessociales a:visited {
  text-decoration: none;
  color: white;
}
.mapa iframe {
  height: 400px;
  width: 500px;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
}
/* footer */
footer {
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  padding: 15px;
}
/* adaptibilidad a un dispositivo */
@media (max-width: 992px) {
  .hero {
    display: flex;
    text-align: center;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .encuadro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    height: 100vh;
  }
  .video {
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}
